.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  padding: 10px;
}
.posts h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.spinner {
  color: teal;
  font-size: 2rem;
  animation: spin 1s infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
